<p-accordion [multiple]="true">
  <p-accordionTab header="Endpoint" tooltip="Enter/Copy a sparql endpoint url">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Enter/Copy a sparql endpoint url</span>
      </div>
      <input [(ngModel)]="loadedOntology" defaultValue="http://localhost:8890/sparql" class="form-control" />
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary" (click)="loadOntology()">Load ontology</button>
      </div>
    </div>
  </p-accordionTab>
  <p-accordionTab header="Graphs">
    <div style="max-height: 200px; position: relative;  overflow-x:hidden">
      <mat-chip-list *ngIf="allGraphs">
        <mat-chip class="mainRoot" *ngFor="let uniqueIdentifier of allGraphs" (click)="selectedGraph(uniqueIdentifier)" [attr.data-id]="uniqueIdentifier.uri">
          {{uniqueIdentifier.name}}
        </mat-chip>
      </mat-chip-list>
    </div>
  </p-accordionTab>
  <p-accordionTab header="Top elements" [disabled]="selectedGraphs.length == 0">
    <ng-container *ngIf="selectedGraphs.length > 0">
      <div class="input-group mb-3">
        <select [(ngModel)]="chosenInheritanceFormat" placeholder="Ontology inheritence format..." class="form-control" required
          name="ontlogyType" #ontologyType="ngModel">
          <option *ngFor="let type of inheritanceFormat;" value="{{ type }}"> {{ type }}</option>
        </select>

        <div class="input-group-append">
          <button type="button" class="btn btn-outline-secondary" [disabled]="!ontologyType.valid" (click)="loadRootsElements()">Show
            roots elements</button>
        </div>
      </div>
    </ng-container>
    <div style="max-height: 300px; position: relative;  overflow-x:hidden">
      <mat-chip-list *ngIf="rootsElements">
        <mat-chip class="mainRoot" *ngFor="let uniqueIdentifier of rootsElements" (click)="selectedRoot(uniqueIdentifier)" [attr.data-id]="uniqueIdentifier.uri">
          {{uniqueIdentifier.name | shortenUri }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </p-accordionTab>
</p-accordion>



<button type="button" class="btn btn-outline-secondary" (click)="clear()">Clear</button>



<ng-container *ngIf="lastClikedUri">
  <!-- <app-datatable-test></app-datatable-test> -->
  <app-browser [selectedUri]="lastClikedUri" [sparqlEndpoint]="loadedOntology" [rootRestrictions]="selectedRoots"></app-browser>
</ng-container>

<!-- <ng-container *ngIf="selectedRoots.length > 0" >

  <app-thesaurus-display [sparqlEndpoint]="loadedOntology" [rootRestrictions]="selectedRoots" [height]="'500px'" hidden="true"></app-thesaurus-display>
</ng-container> -->