<div style="position: relative;  overflow-x:hidden">

  <div class="input-group mb-3">
    <input [(ngModel)]="searchField" placeholder="Search for Subject Predicate or Object" class="form-control" />
    <div class="input-group-append">
      <button [disabled]="searchField === ''" (click)="browse();" class="btn btn-secondary">
        Browse
      </button>
    </div>
  </div>
  <!-- <button [disabled]="lastGatheringRequest === undefined" (click)=" executeLastRequest();" class="btn btn-secondary">
    Back
  </button> -->
  <!-- <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Current subject</span>
      <span class="input-group-text">{{selectedUri}}</span>
    </div>
    <div class="input-group-append">
    </div>
  </div> -->

  <div style="padding-bottom: 40px">
    <p-table [columns]="columns" [value]="this.allTriples" [scrollable]="true" scrollHeight="800px">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.field | titlecase}}
          </th>
        </tr>
        <tr (input)="onChangeFilter();">
          <th *ngFor="let col of columns">
            <div class="input-group mb-3">
              <input type="text" pInputText [(ngModel)]="filter[col.field]" pTooltip="Filter use regex such as defined in <https://www.w3.org/TR/xpath-functions/#regex-syntax>,
 prepending '!' will act as a negative match" />
              <ng-container *ngIf="col.field==='object' && allDatatypes && allDatatypes.length !== 0">
                <p-multiSelect [options]="allDatatypes" appendTo="body" defaulstLabel="All Datatypes"></p-multiSelect>
              </ng-container>
              <ng-container *ngIf="col.field==='object' && allLangs && allLangs.length !== 0">
                <p-multiSelect [options]="allLangs" appendTo="body" defaultLabel="All Languages"></p-multiSelect>
              </ng-container>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [style.background-color]="setColorStyle(rowData[col.field])">
            <div>
              <ng-container *ngIf="rowData[col.field].type === 'uri'; else litteralTemplate">
                <a (click)="onClickTerm(rowData[col.field].value);" [pTooltip]="rowData[col.field].value"
                  tooltipPosition="bottom" prependTo="body" style="position: relative;">
                  {{ rowData[col.field].value | shortenUri }}</a>
              </ng-container>
              <ng-template #litteralTemplate>
                <span> {{ rowData[col.field].value }} </span>
              </ng-template>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>



</div>